@model LocomotionWebApp.Models.ViewModels.PatientListViewModel
@{
	Layout = null;
}

@if(Model.Patients.Count > 0)
{ 

	<thead>
		<tr>
			<th>Patient Name</th>
			<th>Date of Last Upload</th>
			<th>Therapist</th>
			<th>Type of Arthritis</th> 
			<th>Deformity</th>
			<th>Affected Extremity</th> 
			<th></th>
		</tr>
	</thead>
	foreach(var patient in Model.Patients)
	{ 
		<tr>
			<td>@Html.DisplayFor(net => patient.LastName) , @Html.DisplayFor(net => patient.FirstName)</td>
			<td>@Html.DisplayFor(net => patient.LastUpdate)</td>
			<td>@Html.DisplayFor(net => patient.Therapist.RealName)</td>
			<td>@Html.DisplayFor(net => patient.ArthritisType)</td>
			<td>@Html.DisplayFor(net => patient.Deformity)</td>
			<td>@Html.DisplayFor(net => patient.AffectedExtremity)</td>

			<td style="text-align: right;">
				<a href="@Url.Action("View", "Patient", new { id= patient.ID })"
					class="btn btn-small btn-primary">Profile</a>
				<a href="@Url.Action("Report", "Patient", new { id = patient.ID })"
					class="btn btn-small">Report</a>
				<a href="@Url.Action("Delete", "Patient", new { id = patient.ID })"
					class="btn btn-small btn-danger delete-net-btn"><i class="icon-trash"></i> </a>
				
			</td>
		</tr>

	}

	<script type="text/javascript">
		$(".delete-net-btn").click(function(e) {
			console.log("CLICKC");
			var netName = $(e.target).closest("tr").find("td").first().text();
			if(confirm('Are you sure you wish to delete ' + netName + '?')) {
				return true;
			}
			e.preventDefault();
		});
	</script>
}
else
{
	<td>There are no patients in the system</td>
}
