@model LocomotionWebApp.Models.ViewModels.PatientListViewModel
@{
	Layout = null;
}

@if(Model.Patients.Count > 0)
{ 
	<thead>
		<tr>
			<td>Patient Name</td>
			<td>Date of Last Upload</td>
			<td>Affected Extremity</td> <!-- Currently displaying last edited -->
			<td>Type of Arthritis</td> <!-- Currently displaying revisions -->
			<td>Deformity</td>
			<td></td>
		</tr>
	</thead>
	foreach(var patient in Model.Patients)
	{ 
		<tr>
			<td>@Html.DisplayFor(net => patient.Name)</td>
			<td>@Html.DisplayFor(net => patient.LastUpdate)</td>
			<td>Left or Right</td>
			<td>Unicompartmental</td>
			@*<td>Valgus</td>*@
			
			@*<td> @Html.DisplayFor(net => patient.Revision) Previous Versions </td>*@
			

			<td style="text-align: right;">
				@*<a href="@Url.Action("TempEdit", "Patient", new { id = patient.ID, clickTab = 0 })"
					class="btn btn-small btn-primary">Profile </a>*@
				<a href="@Url.Action("View", "Patient", new { id= patient.ID })"
					class="btn btn-small btn-primary">Profile</a>
				<a href="@Url.Action("Report", "Patient", new { id = patient.ID })"
					class="btn btn-small">Report </a>
				<a href="@Url.Action("Delete", "Patient", new { id = patient.ID })"
					class="btn btn-small btn-danger delete-net-btn"><i class="icon-trash"></i> </a>
				
			</td>
		</tr>
	}

	<script type="text/javascript">
		$(".delete-net-btn").click(function(e) {
			console.log("CLICKC");
			var netName = $(e.target).closest("tr").find("td").first().text();
			if(confirm('Are you sure you wish to delete ' + netName + '?')) {
				return true;
			}
			e.preventDefault();
		});
	</script>
}
else
{
	<td>There are no patients in the system</td>
}
