@model LocomotionWebApp.Models.ViewModels.NetworkListViewModel
@{
	Layout = null;
}

@*<table class="table table-condensed table-hover">
	<thead>
		<tr>
			<td>Network Name</td>
			<td>Author</td>
			<td>Edit Date</td>
			<td>Revision</td>
			<td></td>
		</tr>
	</thead>
	@foreach(var network in Model.Networks)
 { 
		<tr>
			@if(network == Model.Networks.First() && network.Name == null)
			{
				<td>Current Draft</td>
			}
			else
			{ 
				<td>@Html.DisplayFor(net => network.Name)</td>
			}
			<td>@Html.DisplayFor(net => network.Author.RealName)</td>
			<td>@Html.DisplayFor(net => network.LastEdit)</td>
			<td>@Html.DisplayFor(net => network.Revision)</td>

			<td style="text-align: right;">
				<a href="@Url.Action("TempEdit", "Network", new { id = network.ID, clickTab = 0 })"
					class="btn btn-small">View </a>
			</td>
		</tr>
 }
</table>*@
