@model LocomotionWebApp.Models.ViewModels.PatientViewModel


@section Title
{
	Report	
}

@section Header
{
}

@section Scripts
{
	@if(ViewBag.UploadAlert != null)
	{
	<script type="text/javascript">
		//var isFormValid = ;
		$(function() {
			$('#addReport').modal('show');
		});
	</script>
	}

	@if(ViewBag.UrlUploadAlert != null)
	{
	<script type="text/javascript">
		//var isFormValid = ;
		$(function() {
			$('#editRequiredModal').modal('show');
		});
	</script>
	}

	<script type="text/javascript">
		$(function() {
			$("#uploadButton").add("#createNetUrlBtn")
				.click(function(e)
				{
					$(this).closest(".modal-footer").find(".spinner").show();
					$(this).parent().find("button").addClass("disabled");
					$(this).attr("type", "button");
					$(this).unbind("click");
					$(this).closest("form").submit();
				}
			);
		});
	</script>

}




@using (Html.BeginForm("Upload", "Patient", FormMethod.Post, new
{
	enctype = "multipart/form-data", @class = "form-horizontal"
}))
{ 
	<div id="addReport"
		class="modal hide @Html.Raw(ViewBag.UploadAlert == null ? "fade" : "")"
		tabindex="-1" role="dialog"
		aria-labelledby="newPatientLabel" aria-hidden="true" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="newPatientLabel">Upload File</h3>
		</div>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">
			<div class="modal-body">

				<div class="control-group">
					<label class="control-label" for="PatientFile">
						<b>Patient File</b>
					</label>
					<div class="controls">
						<input type="file" id="PatientFile" name="PatientFile" /><br />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientID"></label>
					<div class="controls">
						@Html.HiddenFor(m => Model.ID, new { placeholder = @Model.ID})	
					</div>
				</div>
			</div>

			@if(ViewBag.UploadAlert != null)
			{ 
				<div class="alert fade in">
					<button type="button" class="close" data-dismiss="alert">x</button>
					@Html.Raw(ViewBag.UploadAlert)
				</div>
			}
			<div class="modal-footer">
				<span class="spinner" style="display: none;"><img src="/Content/img/ajax-loader.gif" /></span>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button type="submit" id="uploadButton" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>
}

@using(Html.BeginForm("EditRequired", "Patient", FormMethod.Post, new {
	enctype = "multipart/form-data", @class = "form-horizontal"
}))
{ 
	<div id="editRequiredModal"
		class="modal hide @Html.Raw(ViewBag.UploadAlert == null ? "fade" : "")"
		tabindex="-1" role="dialog"
		aria-labelledby="newPatientLabel" aria-hidden="true" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="editRequiredLabel">Edit Required Inputs</h3>
		</div>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="PatientShanklength">
						Shank Length (inches)
					</label>
					<div class="controls">	
						<input type="text" id="PatientShankLength" name="PatientShankLength" 		
							value="@Html.DisplayFor(m => Model.ShankLength, new { required ="true", @class = "ShankLength" })" required />							
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientThighLength">
						Thigh Length (inches)
					</label>
					<div class="controls">	
						<input type="text" id="PatientThighLength" name="PatientThighlength" 		
							value="@Html.DisplayFor(m => Model.ThighLength, new { required ="true", @class = "ThighLength" })"  required />							
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientID"></label>
					<div class="controls">
						@Html.HiddenFor(m => Model.ID, new { placeholder = @Model.ID})	
					</div>
				</div>
			</div>

			@if(ViewBag.UploadAlert != null)
			{ 
				<div class="alert fade in">
					<button type="button" class="close" data-dismiss="alert">x</button>
					@Html.Raw(ViewBag.UploadAlert)
				</div>
			}
			<div class="modal-footer">
				<span class="spinner" style="display: none;"><img src="/Content/img/ajax-loader.gif" /></span>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button type="submit" class="btn btn-primary">Save Changes</button>
			</div>
		</form>
	</div>
}

<div class="container">
	<div class="row-fluid">
		<div class="span12">
		<div class="well">
			<div class="span6" style="font-size: 31.5px;">
				<strong>@Html.DisplayFor(m => Model.LastName, new { placeholder = @Model.LastName}), @Html.DisplayFor(m => Model.FirstName, new { placeholder = @Model.FirstName})</strong>
			</div>
			<div class="span2 offset2">	
				<a class="btn btn-primary"
					href="#addReport" data-toggle="modal">
					<i class="icon-plus-sign"></i>
					<strong>Upload File</strong>
					<i class="icon-file"></i>
					</a> 
			</div>
			<div class="span1">
				<div class="btn-group">
					<a href="@Url.Action("View", "Patient", new { id=Model.ID })"
						class="btn btn-primary"><strong>Profile</strong></a>
					<a href="#" class="btn btn-primary disabled" id="show-report-btn"><strong>Report</strong></a>
				</div>
			</div>
		</div>
		</div>
	</div>

	<div class="row">
	<div class="span4" style="padding-bottom: 5px;">
		<h4>Gait Data</h4> 
		<table class="table table-striped table-bordered table-condensed" border="1">
			<tbody>
				<tr>
					<td><strong>Average Gait Speed (meters/min)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.Report.AverageGaitSpeed, new { placeholder = @Model.Report.AverageGaitSpeed})</strong></td>
				</tr>
				<tr>
					<td><strong>Left Stride Length (cm)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.Report.LeftStrideLength, new { placeholder = @Model.Report.LeftStrideLength})</strong></td>
				</tr>
				<tr>
					<td><strong>Right Stride Length (cm)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.Report.RightStrideLength, new { placeholder = @Model.Report.RightStrideLength})</strong></td>
				</tr>
				<tr>
					<td><strong>Stance (% of gait cycle)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.Report.StancePercent, new { placeholder = @Model.Report.StancePercent })</strong></td>
				</tr>
				<tr>
					<td><strong>Swing (% of gait cycle)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.Report.SwingPercent, new { placeholder = @Model.Report.SwingPercent})</strong></td>
				</tr>
				<tr>
					<td><strong>Single Limb Stance (% of gait cycle)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.Report.SingleLimbStancePercent, new { placeholder = @Model.Report.SingleLimbStancePercent})</strong></td>
				</tr>
				<tr>
					<td><strong>Candence (steps/min)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.Report.Candence, new { placeholder = @Model.Report.Candence})</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="row">
	<div class="span4" style="padding-bottom: 5px;">
		<h4>Required Inputs 
			<a class="btn btn-primary btn-small"
				href="#editRequiredModal" data-toggle="modal" style="float:right;">
				Edit
			</a>
		</h4>
		<table class="table table-striped table-bordered table-condensed" border="1">
			<tbody>
				<tr>
					<td><strong>Shank length (inches)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.ShankLength, new { placeholder = @Model.ShankLength})</strong></td>
				</tr>
				<tr>
					<td><strong>Thigh length (inches)</strong></td>
					<td><strong>@Html.DisplayFor(m => Model.ThighLength, new { placeholder = @Model.ThighLength})</strong></td>
				</tr>
			</tbody>
		</table>
	</div>
	</div>
	<div class="row" style="font-size: 9px; color: #999; text-align: center;">
		<div class="span12"></div>
			<br />
			The KOAALAClinic is a prototype; Madonna Rehabilitation Hospital takes no liability for use of this software
			| <a href="email:katerilett@gmail.com">Contact Us</a>
			| © 2013 
	</div>
</div>

