@model LocomotionWebApp.Models.ViewModels.PatientViewModel


@section Title
{
	Patient
	
}

@section Scripts
{ 
	<script type="text/javascript">
		function openTab() {
			var tab;

			var searchString = window.location.search.substring(1),
				i, val, params = searchString.split("&");

			for (i = 0; i < params.length; i++) {
				val = params[i].split("=");
				if (val[0] == "tab") {
					tab = val[1];
				}
			}

			if (tab == "1") {
				openEditBar();
			}
			else if (tab == "2") {
				openReport();
			}
		};
	</script>


	<script type="text/javascript">	

		$(function() {

		});

		function activateForm(target) {
			var title = $("#"+target+" .modal-header h3").html();
			var body = $("#"+target+" .modal-body").html();
			var buttons = $("#"+target+" .modal-footer").html();

			var formobj = $("#"+target).closest("form");
			var action = formobj.attr("action");

			var passByAjax = $("#"+target+" .modal-footer").attr("data-ajax");
			if(passByAjax == undefined)
				passByAjax = true;

			$("#jsModal .CheckBox").val(true);

			popupModalFullHtml(title, body, buttons);

			$("#jsModalForm").attr("action", action);

			$("#jsModalForm").unbind("submit");
			if(passByAjax == true) {
				$("#jsModalForm").submit(function (e) {

					e.preventDefault();
					var formdata = $("#jsModalForm").serializeArray();

					$.post(action,
						formdata,
						function(data, status, jqXHR) {
							if (data.success) {
								infoWindow.close();
								loadPatient();
								loadOptimization();
								if (addingAnother) {
								} else {
									$("#jsModal").modal("hide");
								}
								addingAnother = false;
							}
						}
					);
				});
			}
		}

		//function resizePullover() {
		//	var headerHeight = $("#header").outerHeight();
		//	var winHeight = $(window).height() - headerHeight;
		//	$("#report-pullover").css("top", headerHeight);
		//	$("#report-pullover").css("height", winHeight);
		//}
		//function showPullover() {
		//	$("#report-pullover").slideDown();
		//}
		//function hidePullover() {
		//	$("#report-pullover").slideUp();
		//	$("#to-report-btn").removeClass("active");
		
		//}
		//$(window).resize(resizePullover);


	</script>

}


@section NextToLogo
{
	<!--Could be used to put Patient Name in top bar -->
@*	<p class="nav navbar-text" style="color: #000;">
		<em>@Html.Raw(Model.LastName)</em>
	</p>*@
} 

@section Header
{
}

@using(Html.BeginForm("SavePatientAs", "Patient", FormMethod.Post, new { enctype = "multipart/form-data" }))
{ 
	{
<!-- save network Modal -->
@*<div id="saveModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
	<h3 id="saveModalLabel">Save Network</h3>
  </div>
  <div class="modal-body">
	<div class="control-group">				
				<label class="control-label" for="name">Network Name</label>
				<div class="controls">					
						@Html.TextBoxFor(m => Model.Name, new { required ="true", placeholder = "Name" })
					<span class="text-error">@Html.ValidationMessageFor(m => Model.Name)</span>	
				</div>
			</div>
			
			<div class="control-group">
				<label class="control-label" for="NetworkID"></label>
				<div class="controls">
						@Html.HiddenFor(m => Model.ID, new { placeholder = @Model.ID})
				</div>
			</div>


  </div>

  <div class="modal-footer" data-ajax="false">
	<button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	<button type="submit" class="btn btn-primary">Save changes</button>
  </div>
</div>*@
}
}

@using(Html.BeginForm("EditPatient", "Patient", FormMethod.Post, new {
	enctype = "multipart/form-data", @class = "form-horizontal"
}))
{ 
	<div id="editPatientModal"
		class="modal hide @Html.Raw(ViewBag.UploadAlert == null ? "fade" : "")"
		tabindex="-1" role="dialog"
		aria-labelledby="newPatientLabel" aria-hidden="true" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="editPatientLabel">Edit Patient Information</h3>
		</div>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="PatientAge">
						Age
					</label>
					<div class="controls">	
						<input type="text" id="PatientAge" name="PatientAge" 		
							value="@Html.DisplayFor(m => Model.Age, new { required ="true", @class = "Age" })" required />					
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientBirthday">
						Birthday
					</label>
					<div class="controls">	
						<input type="date" id="PatientBirthday" name="PatientBirthday" 		
							value="@Html.DisplayFor(m => Model.BirthdayHtml, new { required ="true", @class = "BirthdayHtml" })" required />	
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientGender">
						Sex
					</label>
					@if (Model.Gender == "Female") {
						<div class="controls">	
								<select id="PatientGender1" name="PatientGender" required>
									<option selected>Female</option>
									<option>Male</option>
								</select>				
						</div>
					}
					@if (Model.Gender == "Male") {
						<div class="controls">	
								<select id="PatientGender2" name="PatientGender" required>
									<option>Female</option>
									<option selected>Male</option>
								</select>				
						</div>
					}
					@if (Model.Gender != "Female" && Model.Gender != "Male") {
						<div class="controls">	
								<select id="PatientGender3" name="PatientGender" required>
									<option>Female</option>
									<option>Male</option>
								</select>				
						</div>
					}
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientHeight">
						Height (inches)
					</label>
					<div class="controls">	
						<input type="number" step="any" id="PatientHeight" name="PatientHeight" 		
							value="@Html.DisplayFor(m => Model.Height, new { required ="true", @class = "Height" })" required />							
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientWeight">
						Weight (lbs)
					</label>
					<div class="controls">	
						<input type="number" step="any" id="PatientWeight" name="PatientWeight" 		
							value="@Html.DisplayFor(m => Model.Weight, new { required ="true", @class = "Weight" })" required />							
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientEmail">
						Email
					</label>
					<div class="controls">	
						<input type="text" id="PatientEmail" name="PatientEmail" 		
							value="@Html.DisplayFor(m => Model.Email, new { required ="true", @class = "Email" })" required />							
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientPhoneNumber">
						Phone Number
					</label>
					<div class="controls">	
						<input type="text" id="PatientPhoneNumber" name="PatientPhoneNumber" 		
							value="@Html.DisplayFor(m => Model.PhoneNumber, new { required ="true", @class = "PhoneNumber" })" required />							
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientID"></label>
					<div class="controls">
						@Html.HiddenFor(m => Model.ID, new { placeholder = @Model.ID})	
					</div>
				</div>

			</div>

			@if(ViewBag.UploadAlert != null)
			{ 
				<div class="alert fade in">
					<button type="button" class="close" data-dismiss="alert">x</button>
					@Html.Raw(ViewBag.UploadAlert)
				</div>
			}
			<div class="modal-footer">
				<span class="spinner" style="display: none;"><img src="/Content/img/ajax-loader.gif" /></span>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button type="submit" class="btn btn-primary">Save Changes</button>
			</div>
		</form>
	</div>
}

@using(Html.BeginForm("EditMedical", "Patient", FormMethod.Post, new {
	enctype = "multipart/form-data", @class = "form-horizontal"
}))
{ 
	<div id="editMedicalModal"
		class="modal hide @Html.Raw(ViewBag.UploadAlert == null ? "fade" : "")"
		tabindex="-1" role="dialog"
		aria-labelledby="newPatientLabel" aria-hidden="true" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="editMedicalLabel">Edit Medical Profile</h3>
		</div>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="PatientArthritisType">
						Arthritis Type
					</label>
					<!-- There has to be a better way to do this, please don't judge me -->
					@if (Model.ArthritisType == "Unicompartmental") {
						<div class="controls">
							<select id="PatientArthritisType1" name="PatientArthritisType" required>
								<option selected>Unicompartmental</option>
								<option>Bicompartmental</option>
								<option>Patellofermoral</option>
							</select>
						</div>
					}
					@if (Model.ArthritisType == "Bicompartmental") {
						<div class="controls">
							<select id="PatientArthritisType2" name="PatientArthritisType" required>
								<option>Unicompartmental</option>
								<option selected>Bicompartmental</option>
								<option>Patellofermoral</option>
							</select>
						</div>
					}
					@if (Model.ArthritisType == "Patellofemoral") {
						<div class="controls">
							<select id="PatientArthritisType3" name="PatientArthritisType" required>
								<option>Unicompartmental</option>
								<option>Bicompartmental</option>
								<option selected>Patellofermoral</option>
							</select>
						</div>
					}
					@if (Model.ArthritisType != "Patellofemoral" && Model.ArthritisType != "Bicompartmental" && Model.ArthritisType != "Unicompartmental") {
						<div class="controls">
							<select id="PatientArthritisType4" name="PatientArthritisType" required>
								<option>Unicompartmental</option>
								<option>Bicompartmental</option>
								<option selected>Patellofermoral</option>
							</select>
						</div>
					}
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientAffectedExtremity">
						Affected Extremity 
					</label>
					@if (Model.AffectedExtremity == "Left") {
						<div class="controls">	
							<select id="PatientAffectedExtremity1" name="PatientAffectedExtremity" required>
								<option selected>Left</option>
								<option>Right</option>
								<option>Both</option>
						</select>							
					</div>
					}
					@if (Model.AffectedExtremity == "Right") {
						<div class="controls">	
							<select id="PatientAffectedExtremity2" name="PatientAffectedExtremity" required>
								<option>Left</option>
								<option selected>Right</option>
								<option>Both</option>
						</select>							
					</div>
					}
					@if (Model.AffectedExtremity == "Both") {
						<div class="controls">	
							<select id="PatientAffectedExtremity3" name="PatientAffectedExtremity" required>
								<option>Left</option>
								<option>Right</option>
								<option selected>Both</option>
						</select>							
					</div>
					}
					@if (Model.AffectedExtremity != "Left" && Model.AffectedExtremity != "Right" && Model.AffectedExtremity != "Both") {
						<div class="controls">	
							<select id="PatientAffectedExtremity4" name="PatientAffectedExtremity" required>
								<option>Left</option>
								<option>Right</option>
								<option>Both</option>
						</select>							
					</div>
					}
				</div>
					<div class="control-group">
					<label class="control-label" for="PatientDeformity">
						Deformity 
					</label>
					@if (Model.Deformity == "Valgus") {
						<div class="controls">	
								<select id="PatientDeformity1" name="PatientDeformity" required>
									<option selected>Valgus</option>
									<option>Varus</option>
								</select>				
						</div>
					}
					@if (Model.Deformity == "Varus") {
						<div class="controls">	
								<select id="PatientDeformity2" name="PatientDeformity" required>
									<option>Valgus</option>
									<option selected>Varus</option>
								</select>				
						</div>
					}
					@if (Model.Deformity != "Varus" && Model.Deformity != "Valgus") {
						<div class="controls">	
								<select id="PatientDeformity3" name="PatientDeformity" required>
									<option>Valgus</option>
									<option>Varus</option>
								</select>				
						</div>
					}
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientID"></label>
					<div class="controls">
						@Html.HiddenFor(m => Model.ID, new { placeholder = @Model.ID})	
					</div>
				</div>

			</div>

			@if(ViewBag.UploadAlert != null)
			{ 
				<div class="alert fade in">
					<button type="button" class="close" data-dismiss="alert">x</button>
					@Html.Raw(ViewBag.UploadAlert)
				</div>
			}
			<div class="modal-footer">
				<span class="spinner" style="display: none;"><img src="/Content/img/ajax-loader.gif" /></span>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button type="submit" class="btn btn-primary">Save Changes</button>
			</div>
		</form>
	</div>
}

@using(Html.BeginForm("EditContact", "Patient", FormMethod.Post, new {
	enctype = "multipart/form-data", @class = "form-horizontal"
}))
{ 
	<div id="editContactModal"
		class="modal hide @Html.Raw(ViewBag.UploadAlert == null ? "fade" : "")"
		tabindex="-1" role="dialog"
		aria-labelledby="newPatientLabel" aria-hidden="true" >
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="editContactLabel">Edit Emergency Contact</h3>
		</div>
		<form class="form-horizontal" method="post" enctype="multipart/form-data">
			<div class="modal-body">
				<div class="control-group">
					<label class="control-label" for="PatientContactName">
						Contact Name
					</label>
					<div class="controls">
						<input type="text" id="PatientContactName" name="PatientContactName"
							value="@Html.DisplayFor(m => Model.ContactName, new { required ="true", @class = "ContactName" })" required />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientContactRelation">
						Relationship to Patient
					</label>
					<div class="controls">	
						<input type="text" id="PatientContactRelation" name="PatientContactRelation" 		
							value="@Html.DisplayFor(m => Model.ContactRelation, new { required ="true", @class = "ContactRelation" })" required />							
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientContactPhoneNumber">
						Phone Number
					</label>
					<div class="controls">
						<input type="text" id="PatientContactPhoneNumber" name="PatientContactPhoneNumber"
							value="@Html.DisplayFor(m => Model.ContactPhoneNumber, new { required ="true", @class = "ContactPhoneNumber" })" required />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientContactEmail">
						Email
					</label>
					<div class="controls">
						<input type="text" id="PatientContactEmail" name="PatientContactEmail"
							value="@Html.DisplayFor(m => Model.ContactEmail, new { required ="true", @class = "ContactEmail" })" required />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="PatientID"></label>
					<div class="controls">
						@Html.HiddenFor(m => Model.ID, new { placeholder = @Model.ID})	
					</div>
				</div>

			</div>

			@if(ViewBag.UploadAlert != null)
			{ 
				<div class="alert fade in">
					<button type="button" class="close" data-dismiss="alert">x</button>
					@Html.Raw(ViewBag.UploadAlert)
				</div>
			}
			<div class="modal-footer">
				<span class="spinner" style="display: none;"><img src="/Content/img/ajax-loader.gif" /></span>
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
				<button type="submit" class="btn btn-primary">Save Changes</button>
			</div>
		</form>
	</div>
}

<div class="container">
	<div class="row-fluid">
		<div class="span12">
		<div class="well">
			<div class="span6" style="font-size: 31.5px;">
				<strong>@Html.DisplayFor(m => Model.LastName, new { placeholder = @Model.LastName}), @Html.DisplayFor(m => Model.FirstName, new { placeholder = @Model.FirstName})</strong>													
			</div>			
			<div class="span1 offset4">
				<div class="btn-group"> 
					<a href="#" class="btn disabled" id="show-profile-btn" ><strong>Profile</strong></a>
					<a href="@Url.Action("Report", "Patient", new { id=Model.ID })"
						class="btn btn-primary"><strong>Report</strong></a>
				</div>
			</div>
		</div>
		</div>
	</div>

<div class="accordion" id="accordion2">
	<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapseOne">
			Basic Profile
		</a>
	</div>
	<div id="collapseOne" class="accordion-body collapse in">
	<div class="accordion-inner">
<div class="row">
<div class="span3" style="padding-bottom: 5px;">

	<h4>General Information 
		<a class="btn btn-primary btn-small"
			href="#editPatientModal" data-toggle="modal" style="float:right;">
			Edit
		</a>
	</h4> 
	<table class="table table-striped table-bordered table-condensed" border="1">
		<tbody>
			<tr>
				<td><strong>Started KOAALA:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.StartString, new { placeholder = @Model.StartString})</strong></td>
			</tr>
			<tr>
				<td><strong>Age:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.Age, new { placeholder = @Model.Age})</strong></td>
			</tr>
			<tr>
				<td><strong>Birthday:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.BirthdayString, new { placeholder = @Model.BirthdayString })</strong></td>
			</tr>
			<tr>
				<td><strong>Sex:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.Gender, new { placeholder = @Model.Gender})</strong></td>
			</tr>
			<tr>
				<td><strong>Height (inches):</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.Height, new { placeholder = @Model.Height})</strong></td>
			</tr>
			<tr>
				<td><strong>Weight (lbs):</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.Weight, new { placeholder = @Model.Weight})</strong></td>
			</tr>
			<tr>
				<td><strong>Phone Number:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.PhoneNumber, new { placeholder = @Model.PhoneNumber})</strong></td>
			</tr>
			<tr>
				<td><strong>Email:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.Email, new { placeholder = @Model.Email})</strong></td>
			</tr>
		</tbody>

	</table>
</div>

<div class="span3 offset1">
		<h4>Emergency Contact <a class="btn btn-primary btn-small"
				href="#editContactModal" data-toggle="modal" style="float:right;">
				Edit
		</a></h4> 
	<table class="table table-striped table-bordered table-condensed" border="1">
		<tbody>
			<tr>
				<td><strong>Contact Name:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.ContactName, new { placeholder = @Model.ContactName})</strong></td>
			</tr>
			<tr>
				<td><strong>Relationship:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.ContactRelation, new { placeholder = @Model.ContactRelation})</strong></td>
			</tr>
			<tr>
				<td><strong>Phone Number:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.ContactPhoneNumber, new { placeholder = @Model.ContactPhoneNumber})</strong></td>
			</tr>
			<tr>
				<td><strong>Email:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.ContactEmail, new { placeholder = @Model.ContactEmail})</strong></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="span3 offset1" style="padding-bottom: 5px;">
	<h4>Arthritis Information 
		<a class="btn btn-primary btn-small"
				href="#editMedicalModal" data-toggle="modal" style="float:right;">
				Edit </a>
	</h4>
	<table class="table table-striped table-bordered table-condensed" border="1">
		<tbody>
			<tr>
				<td><strong>Arthritis Type:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.ArthritisType, new { placeholder = @Model.ArthritisType})</strong></td>
			</tr>
			<tr>
				<td><strong>Affected Extremity:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.AffectedExtremity, new { placeholder = @Model.AffectedExtremity})</strong></td>
			</tr>
			<tr>
				<td><strong>Deformity:</strong></td>
				<td><strong>@Html.DisplayFor(m => Model.Deformity, new { placeholder = @Model.Deformity})</strong></td>
			</tr>
		</tbody>
	</table>
</div>


</div>

</div>
</div>
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="accordion2" href="#collapseTwo">
				Medical Profile
			</a>
		</div>
		<div id="collapseTwo" class="accordion-body collapse">
			<div class="accordion-inner">
				<h4>Medical Profile
					<a class="btn btn-primary btn-small"
					href="#editMedicalModal" data-toggle="modal" style="float:right;">
					Edit </a>
				</h4> <br />
				<h5>Current Medications</h5> <br />
				<h5>Medications Which Have Caused an Allergic Reaction</h5><br />
				<h5>Current Conditions</h5><br />
				<h5>Past Conditions</h5> <br />
			</div>
		</div>
	</div>

</div>
</div>

<div class="row" style="font-size: 9px; color: #999; text-align: center;">
	<div class="span12"></div>
			<br />
			The KOAALAClinic is a prototype system; Madonna Rehabilitation Hospital takes no liability for use of this software
			| <a href="email:katerilett@gmail.com">Contact Us</a>
			| © 2013 
	</div>
</div>




	